<div class="card">
  <img class="card-img-top" [src]="product.imageUrl" *ngIf="isShowImage" alt="Card image cap"
    [title]="product.productName">
  <div class="card-body">
    <h5 class="card-title"> <a [routerLink]="['/products',product.productId]">{{product.productName
        | uppercase}}</a>
    </h5>
    <p class="card-text">{{product.description | ifNullOrEmpty : '-' }}</p>
    <p class="card-text">Released On : {{product.releaseDate | customDate | ifNullOrEmpty : 'N/A' }}</p>
    <p class="card-text" [ngSwitch]=' true' [ngClass]="getClassesForProduct(product)">
      Price : {{product.price | currency : 'INR' :'Rs ' : '2.2-3'}}
      <span *ngSwitchCase='product.price >=200'>(Costly)</span>
      <span *ngSwitchCase='product.price <= 100'>(Cheap)</span>
      <span *ngSwitchDefault>(Value4Money)</span>
    </p>
    <button class="btn btn-primary mr-2" [disabled]='!product.isActive' (click)="buyProduct(product)">Buy</button>
    <button class="btn btn-danger mr-2" [disabled]='!product.isActive' (click)="deleteProduct(product)">Delete</button>
    <button class="btn btn-secondary" (click)="changeStatus('activate', product)"
      *ngIf="!product.isActive">Activate</button>
    <button class="btn btn-secondary" (click)="changeStatus('deactivate', product)"
      *ngIf="product.isActive">DeActivate</button>
  </div>
</div>
